.btnClass1{
    background-color: #071425 !important;
    color: #FBFCFC !important;
    border-color: #071425 !important;
    width: '90%' !important;
    font-size: 15px;
    height:50px;
    width:200px;
}
.btnClass2{
    background-color: #FBFCFC !important;
    color: #071425 !important;
    border-color: #A7A7A7 !important;
    font-size: 15px;
    height:50px;
    width:200px;
}

.btnClass3{
    background-color: #071425 !important;
    color: #FBFCFC !important;
    border-color: #071425 !important;
    width: '90%' !important;
    font-size: 15px;
    height:50px;
    width:200px;
}

.btnClass4{
    background-color: #FBFCFC !important;
    color: #071425 !important;
    border-color: #071425 !important;
    border-width: 1.5px;
    font-size: 15px;
    height:50px;
    width:200px;
}

.btnClass5{
    background-color: #FBFCFC !important;
    color: #071425 !important;
    border-color: #071425 !important;
    border-width: 1.5px;
    font-size: 15px;
    height:50px;
    width:200px;
}

.btnClass6{
    background-color: #071425 !important;
    color: #FBFCFC !important;
    border-color: #071425 !important;
    width: '90%' !important;
    font-size: 15px;
    height:50px;
    width:200px;
}

.btnClass7{
    background-color: #FBFCFC !important;
    color: #071425 !important;
    border-color: #071425 !important;
    border-width: 1.5px;
    font-size: 15px;
    height:50px;
    width:200px;
}